/* Home.css */

body {
    background-color: #cfe2f6; /* Set the background color of the entire page */
  }
  
  .home-container {
    text-align: center;
    margin-top: 50px; /* Adjust the top margin as needed */
  }
  
  .logo {
    width: 300px; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto 20px; /* Center the image horizontally and provide some bottom margin */
  }
  
  .text-container {
    background-color: white; /* Set background color to white */
    max-width: 80%; /* Set maximum width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding for spacing */
  }
  
  .text-container h1 {
    font-size: 2.5em;
    color: #333; /* Adjust the color as needed */
  }
  
  .text-container p {
    font-size: 1.2em;
    color: #666; /* Adjust the color as needed */
    margin-top: 20px; /* Adjust the top margin as needed */
  }

  .text-container img {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
  }
  